body{
  font-family: 'Mulish', sans-serif;
}

.footer-basic {
  padding: 40px 0;
  color: #4b4c4d;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.card-img {
  border-bottom-right-radius: 0%!important;
  border-bottom-left-radius: 0%!important;
}

#subnav:hover {
  color: gray
}

.default{
  width: 60%;
  height: 60%;
  align-self:center;
}
.imagen {
  transition: 0.5s;
}
.imagen:hover{
  transform: scale(1.3);
}

/* Cambiar el color de fondo de las celdas del calendario */
.calendar td {
  background-color: #E6E6E6;
}

/* Cambiar el color de las fuentes de las fechas */
.date {
  color: #333;
}

/*Establecer un diseño de cuadrícula:*/
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

/*Sombras y bordes*/
.calendar td {
  border: 1px solid #999;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/*Establecer estilos para el encabezado del calendario */
.calendar th {
  background-color: #333;
  color: #fff;
  font-size: 18px;
}

/*Responsive*/

@media (max-width: 768px) {
  .calendar th, .calendar td {
      font-size: 14px;
  }
}

/*Efectos de transicion*/
.calendar td {
  transition: background-color 0.3s ease;
}

.calendar td:hover {
  background-color: #ffcc00;
}