{% extends "layout.html" %}
{% load custom_filters %}


{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Registrar Saldo Diario de Caja Chica</h2>
    
    <!-- Formulario de saldo inicial -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="p-4 border rounded shadow-sm">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.fecha.label_tag }}
                    {{ form.fecha }}
                </div>
                <div class="form-group mb-3">
                    {{ form.saldo_inicial.label_tag | formato_guaranies }}
                    {{ form.saldo_inicial | formato_guaranies }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Registrar Saldo Inicial</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
